<div class="w-full h-screen relative">
  <canvas id="game" phx-hook="ThreeWorld" class="w-full h-full"></canvas>
</div>

<div class="absolute top-0 left-0 z-[100] bg-amber-400">
  <ul>
    <%= for player <- Map.keys(@players) do %>
      <li>{player}</li>
    <% end %>
  </ul>
</div>

